@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --white_color: #ffffff;
  --black_color: #000000;
  --bg_color1000: #0f1014;
  --bg_color900: rgba(255, 204, 117, 0.1);
  --bg_color800: #16181f;
  --bg_color700: #252833;
  --bg_color600: hsla(0, 0%, 100%, 0.08);
  --bg_color500: hsla(0, 0%, 100%, 0.3);
  --bg_color400: #095ae5;
  --bg_color300: #0f0f14;
  --bg_color200: rgba(0, 0, 0, 0.64);
  --bg_color100: hsla(0, 0%, 100%, 0.04);

  --bg_color-opacity: rgba(0, 0, 0, 0.8);

  --bg_color-gradient: linear-gradient(270deg, #16181f, #0f1014);
  --bg_color-gradient1000: linear-gradient(
    140.15deg,
    rgba(36, 81, 194, 0.1) -4.73%,
    rgba(16, 18, 18, 0) 105.52%
  );
  --bg_color-next-gradient: linear-gradient(
    269.25deg,
    #0f1014 0.62%,
    rgba(15, 16, 20, 0) 99.33%
  );
  --bg_color-prev-gradient: linear-gradient(
    88deg,
    #0f1014 0.62%,
    rgba(15, 16, 20, 0) 99.33%
  );
  --horizontal-gradient-color: linear-gradient(
    90deg,
    rgba(112, 122, 148, 0),
    #707a94 50%,
    rgba(112, 122, 148, 0)
  );

  --button-gradieent-color: linear-gradient(93.87deg, #095ae6, #062794);

  --white_color1000: rgba(229, 231, 235, 1);
  --white_color900: hsla(0, 0%, 100%, 0.2);

  --text-color-gradient1000: linear-gradient(270deg, #ffcc75 44.93%, #ffe490);
  --text-color1000: #8f98b2;
  --text-color900: #e1e6f0;
  --text-color700: #3586f0;
  --text-color800: rgba(59, 130, 246, 0.5);
  --text-color600: #d1e8ff;
  --text-color500: #707a94;
  --text-color400: #cad2e5;
  --text-color300: hsla(0, 0%, 100%, 0.84);

  --gold-color: #ffcc75;
  --gold-color-2: #bd7100;
  --tw-shadow: hsla(0, 0%, 100%, 0.6);

  --box-shadow1000: 0 0 #0000;
  --box-shadow900: 1px 31px 23px 1px rgba(0, 0, 0, 0.57);

  --border-color1000: #1b1c1e;
  --border-color900: rgba(225, 230, 240, 0.5);
  --border-color800: #4b5166;
  --text-shadow: 0 0 10px #000;
  --overlay-color: linear-gradient(
    180deg,
    rgba(22, 24, 31, 0),
    rgba(22, 24, 31, 0.15) 24.61%,
    rgba(22, 24, 31, 0.3) 38.57%,
    rgba(22, 24, 31, 0.75) 64.27%,
    rgba(22, 24, 31, 0.92) 82.94%,
    #16181f
  );
  --overlay-color-2: linear-gradient(
      0deg,
      rgba(13, 17, 26, 0),
      rgba(13, 17, 25, 0.5) 28.62%,
      rgba(15, 16, 20, 0.7) 72.5%,
      #0f1014
    ),
    linear-gradient(
      90deg,
      #16181f 1.48%,
      rgba(22, 24, 31, 0.8) 21.89%,
      rgba(15, 16, 20, 0.5) 36.68%,
      rgba(15, 16, 20, 0.9) 74.14%,
      #101115
    );
  --overlay-color-3: rgba(0, 0, 0, 0.85);
  --linear-gradient-color: linear-gradient(
    180deg,
    rgba(15, 16, 20, 0),
    rgba(15, 16, 20, 0.75)
  );
  --linear-gradient-color1000: linear-gradient(
      180deg,
      rgba(15, 16, 20, 0) 73.08%,
      rgba(15, 16, 20, 0.01) 77.84%,
      rgba(15, 16, 20, 0.05) 79.74%,
      #0f1014
    ),
    linear-gradient(
      90deg,
      #0f1014,
      rgba(15, 16, 20, 0.8) 7.31%,
      rgba(15, 16, 20, 0.52) 15.54%,
      rgba(15, 16, 20, 0.12) 29.73%,
      rgba(15, 16, 20, 0) 40.59%
    );
  --linear-gradient-color900: linear-gradient(180deg, #252833 0, #0f1014 100%);
  --linear-gradient-color800: linear-gradient(93.87deg, #095ae6, #062794);
  --linear-gradient-color700: linear-gradient(
    180deg,
    rgba(112, 122, 148, 0),
    #707a94 50%,
    rgba(112, 122, 148, 0)
  );

  --sidenav-backdrop-color: linear-gradient(
    90.43deg,
    rgba(15, 16, 20, 0.95) 16.24%,
    rgba(15, 16, 20, 0) 98.46%
  );
  --linear-gradientColor1: linear-gradient(
    90deg,
    #101014,
    rgba(16, 16, 20, 0.723) 25.39%,
    rgba(16, 16, 20, 0.36) 50.5%,
    rgba(22, 24, 31, 0.1) 77.05%,
    rgba(16, 16, 20, 0.093) 77.06%,
    rgba(16, 16, 20, 0)
  );
  --transform-gradient: matrix(-1, 0, 0, 1, 0, 0);
  --FONT-FAMILY: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
