:root {
  --bg_color1000: #0f1014;
  --bg_color900: rgba(255, 204, 117, 0.1);
  --white_color: #ffffff;
  --text-color-gradient1000: linear-gradient(270deg, #ffcc75 44.93%, #ffe490);
  --gold-color: #ffcc75;
  --FONT-FAMILY: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
